.breadcrumbs__list {
  display: flex;
  margin-bottom: 20px;

  a {
    font-size: 16px;
    color: $color-grey;
    &:hover {
      color: $color-pink;
    }
  }
  @media (max-width: 1279px) {
    display: none;
  }
}

.breadcrumbs__item {
  margin-right: 8px;
  &.active {
    a {
      color: $color-base-opacity;
    }
  }
}
