.feedback {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  &.active {
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
  }
}

// .feedback__wrapper {
//   position: relative;
//   max-width: 410px;
//   background-color: #fff;
//   padding: 30px;
//   border-radius: 8px;
// }

.feedback__form {
  display: flex;
  flex-direction: column;

  textarea {
    border: 1px solid #cecbcb;
    margin-bottom: 25px;
    height: 175px;
    resize: none;
    padding: 10px;
  }
}

.feedback__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #cecbcb;
  margin-bottom: 25px;
  padding: 5px 0;
}

.feedback__title {
  font-size: 22px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 25px;
}

.feeback__concent {
  display: flex;
  align-items: center;
  p {
    color: $color-grey;
    font-size: 12px;
  }
  input {
    &::placeholder {
      color: $color-grey;
    }
  }
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
    & + label {
      position: relative;
      font-size: 14px;
      padding-left: 21px;
      margin-bottom: 8px;
      color: $color-grey;
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid $color-base;
        border-radius: 4px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      a {
        color: $color-mint;
        @media (max-width: 767px) {
          font-size: 11px;
        }
      }
      @media (max-width: 767px) {
        font-size: 11px;
      }
    }
    &:checked + label::before {
      background-image: url("../img/svg/check.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.feedback__button {
  align-self: center;
}

.feedback__cross {
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
