.lk__wrapper {
  display: flex;
  justify-content: space-between;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.lk__title {
  text-transform: uppercase;
  @media (max-width: 1279px) {
    margin-bottom: 20px;
  }
}

.lk__list {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  a {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    &.active {
      background-color: $color-mint;
      color: #fff;
      padding: 4px 20px;
    }
    @media (max-width: 1365px) {
      font-size: 22px;
    }
    @media (max-width: 1023px) {
      font-size: 16px;
    }
    @media (max-width: 767px) {
      font-size: 12px;
    }
  }
  li {
    margin-bottom: 20px;
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
  @media (max-width: 1279px) {
    padding: 0;
  }
  @media (max-width: 767px) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 52px;
  }
}

.lk__content {
  display: flex;
  flex-direction: column;
  padding: 74px 164px;
  border: 1px solid #cecbcb;
  border-radius: 8px;
  max-width: 1280px;
  flex: 1 0 auto;
  @media (max-width: 1919px) {
    padding: 74px 100px;
    max-width: 967px;
  }
  @media (max-width: 1365px) {
    padding: 74px 93px;
    max-width: 895px;
  }
  @media (max-width: 1279px) {
    border: 0;
    padding: 0;
    max-width: 605px;
  }
  @media (max-width: 1023px) {
    max-width: 450px;
  }
  &--mode {
    padding: 0;
    border: 0;
    @media (max-width: 1279px) {
      max-width: 765px;
    }
    @media (max-width: 1023px) {
      max-width: 552px;
    }
  }
}

.lk__inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  input {
    border: 1px solid #cecbcb;
    border-radius: 4px;
    height: 52px;
    margin-bottom: 30px;
    // margin-right: 30px;
    padding: 0 20px;
    width: calc(100% / 2 - 15px);
    &::placeholder {
      color: $color-grey;
    }
    @media (max-width: 1279px) {
      margin-bottom: 20px;
    }
    @media (max-width: 1023px) {
      height: 39px;
      margin-bottom: 15px;
      font-size: 13px;
    }
    @media (max-width: 767px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.lk__row {
  margin-bottom: 60px;
  @media (max-width: 1279px) {
    margin-bottom: 40px;
  }
  @media (max-width: 1023px) {
    margin-bottom: 30px;
  }
  &--last {
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
}

.lk__button {
  @media (max-width: 767px) {
    width: 100%;
    text-align: center;
  }
}

.lk__help-phone {
  max-width: 470px;
  line-height: 150%;
  @media (max-width: 1023px) {
    max-width: 100%;
    font-size: 13px;
  }
}
