.sale {
  display: flex;
  flex-direction: column;
}

.sale__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  & + button {
    align-self: center;
  }
  .slick-track {
    display: flex;
  }
  .slick-list {
    @media (max-width: 1279px) {
      margin-right: -200px;
    }
    @media (max-width: 1023px) {
      margin-right: -150px;
    }
    @media (max-width: 767px) {
      margin-right: -50px;
    }
  }
  @media (max-width: 1279px) {
    margin-bottom: 30px;
  }
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.sale__item {
  position: relative;
  display: flex !important;
  margin: 15px;
  height: auto;

  &:hover {
    box-shadow: 0px 3px 16px rgba(30, 26, 23, 0.11);
    transition: all 0.3s;
    .sale__price {
      display: none;
    }
    .sale__link-button {
      display: block;
      width: 100%;
      text-align: center;
      padding: 0;
      cursor: pointer;
    }
    .sale__picture {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 1365px) {
    margin: 15px 6px;
  }
  @media (max-width: 1279px) {
    margin: 15px 12px;
  }
  @media (max-width: 1023px) {
    margin: 15px 6px;
  }
}

.sale__link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: 1px solid #f8f3f1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  @media (max-width: 767px) {
    padding: 7px;
    width: 100%;
    padding-top: 20px;
  }
}

.sale__percent {
  position: absolute;
  display: block;
  // width: 80px;
  padding-left: 14px;
  padding-right: 7px;
  line-height: 34px;
  background-color: $color-pink;
  color: #fff;
  right: 0;
  top: 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  border-radius: 0 0 0 20px;
  @media (max-width: 1023px) {
    // width: 62px;
  }
  @media (max-width: 767px) {
    font-size: 12px;
    line-height: 17px;
    // width: 40px;
    line-height: 20px;
    padding-left: 6px;
    padding-right: 4px;
    border-radius: 0px 0px 0px 12px;
    // width: 40px;
  }
  &--mode {
    @media (max-width: 767px) {
      padding-left: 16px;
      padding-right: 13px;
    }
  }
}

.sale__picture {
  width: 160px;
  align-self: center;
  margin-bottom: 55px;
  @media (max-width: 767px) {
    width: 70px;
    margin-bottom: 25px;
  }
}

.sale__name {
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid $color-grey;
  padding-bottom: 10px;
  margin-bottom: 20px;
  @media (max-width: 767px) {
    font-size: 8px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.sale__price {
  display: flex;
  justify-content: center;
}

.sale__old-price {
  margin-right: 10px;
  text-decoration: line-through;
  color: $color-grey;
  @media (max-width: 767px) {
    font-size: 8px;
  }
}

.sale__new-price {
  font-size: 18px;
  @media (max-width: 767px) {
    font-size: 8px;
  }
}

.sale__link-button {
  background-color: $color-mint;
  border: 0;
  color: #fff;
  display: none;
  margin-top: auto;
}

.sale__button {
  align-self: center;
}
