// Mobile first
$mediaWidthMobile: 767px;
$mediaWidthTablet: 1023px;
$mediaWidthTabletHorizontal: 1365px;
$mediaWidthLaptop: 1919px;
// $mediaDesctop: 1919px;

$fontBase: "AGAvalancheC", "sans-serif";
$color-mint: #bbd9d7;
$color-pink: #f6d5cc;
$color-pink-opacity: rgba(246, 213, 204, 0.3);
$color-base: #3a3e46;
$color-base-opacity: rgba(58, 62, 70, 0.7);
$color-grey: #cecbcb;
$color-yellow: #efe3c7;
$color-orange: #f6c3a9;
