.cabinet 
    .cabinet__wrapper 
        .cabinet__user 
           p.cabinet__title Иванов иван
           p.cabinet__phone +7 999 999 99 99
           p.cabinet__bonus Номер бонусной карты
           p.cabinet__number 0000 0000 0000 0001
        .cabinet__order 
            .cabinet__caption 
                p.cabinet__title Ваш заказ
                p.cabinet__price 6 380 ₽
            p.cabinet__address Заберу из магазина: г. Курск, ТЦ Олимпийский, ул. Дзержинского, д. 25  10:00–19:00
            p.cabinet__order-inner 
                p Ваш заказ:
                .cabinet__list 
                    .cabinet__picture
                        img(src="img/order/image27.png", alt="")
                    .cabinet__picture
                        img(src="img/order/image27.png", alt="")
                    .cabinet__picture
                        img(src="img/order/image27.png", alt="")
            .cabinet__pay 
                p Способ оплаты
                p Онлайн оплата
            p.cabinet__title ожидает в магазине
