form(action="get").choose-magazine__wrapper.overlay
    .choose-magazine
        .choos-magazine__inner
            p.choos-magazine__title Выберите магазин
            .choos-magazine__form
                ul.address__list
                    li.address__list-item
                        a.goto(data-goto='адрес-1')
                            input(type="radio" name="radio-address" id="address1" checked)
                            label(for="address1") г. Курск, ТЦ Линия, ул Энгельса, д. 70 10:00–21:00
                    li.address__list-item
                        a.goto(data-goto='адрес-2')
                            input(type="radio" name="radio-address" id="address2")
                            label(for="address2") г. Курск, ТЦ Олимпийский, ул. Дзержинского, д. 25 10:00–19:00
                    li.address__list-item
                        a.goto(data-goto='адрес-3')
                            input(type="radio" name="radio-address" id="address3")
                            label(for="address3") ТЦ Европа-20	г. Курск, пр-т Дружбы, д. 9А 09:00–21:00
                    li.address__list-item
                        a.goto(data-goto='адрес-4')
                            input(type="radio" name="radio-address" id="address4")
                            label(for="address4") ТЦ Пушкинский	г. Курск, ул. Ленина, д. 30 10:00–22:00
                    li.address__list-item
                        a.goto(data-goto='адрес-5')
                            input(type="radio" name="radio-address" id="address5")
                            label(for="address5") ТЦ Рынок	Курская обл., г. Курчатов, ул. Энергетиков, д. 60 10:00–18:00
                    li.address__list-item
                        a.goto(data-goto='адрес-6')
                            input(type="radio" name="radio-address" id="address6")
                            label(for="address6") ТЦ Линия	Курская обл., г. Железногорск,  ул. Воинов Интернационалистов, д. 18 09:00–20:00

                ul.address__list.address__list--mode.address-slick
                    li.address__list-item
                        a.goto(data-goto='г. Курск, ТЦ Линия, ул Энгельса, д. 70 10:00–21:00') г. Курск, ТЦ Линия, ул Энгельса, д. 70 10:00–21:00
                    li.address__list-item
                        a.goto(data-goto='г. Курск, ТЦ Олимпийский, ул. Дзержинского, д. 25 10:00–19:00') г. Курск, ТЦ Олимпийский, ул. Дзержинского, д. 25 10:00–19:00
                    li.address__list-item
                        a.goto(data-goto='ТЦ Европа-20 г. Курск, пр-т Дружбы, д. 9А 09:00–21:00') ТЦ Европа-20	г. Курск, пр-т Дружбы, д. 9А 09:00–21:00
                    li.address__list-item
                        a.goto(data-goto='ТЦ Пушкинский	г. Курск, ул. Ленина, д. 30 10:00–22:00') ТЦ Пушкинский	г. Курск, ул. Ленина, д. 30 10:00–22:00
                    li.address__list-item
                        a.goto(data-goto='ТЦ Рынок Курская обл., г. Курчатов, ул. Энергетиков, д. 60 10:00–18:00') ТЦ Рынок	Курская обл., г. Курчатов, ул. Энергетиков, д. 60 10:00–18:00
                    li.address__list-item
                        a.goto(data-goto='ТЦ Линия Курская обл., г. Железногорск,  ул. Воинов Интернационалистов, д. 18 09:00–20:00') ТЦ Линия Курская обл., г. Железногорск,  ул. Воинов Интернационалистов, д. 18 09:00–20:00

                button.button.choos-magazine__button#btnChooseMagazine Сохранить
            <svg class="close-modal close-modal--choose" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.94 7.00143L13.4667 1.47476C13.5759 1.34722 13.633 1.18317 13.6265 1.01539C13.62 0.847606 13.5504 0.688447 13.4317 0.569717C13.313 0.450987 13.1538 0.381432 12.986 0.374951C12.8183 0.368471 12.6542 0.425542 12.5267 0.534759L7 6.06143L1.47334 0.528092C1.3478 0.402557 1.17754 0.332031 1 0.332031C0.822468 0.332031 0.652205 0.402557 0.526669 0.528092C0.401133 0.653628 0.330608 0.823891 0.330608 1.00143C0.330608 1.17896 0.401133 1.34922 0.526669 1.47476L6.06 7.00143L0.526669 12.5281C0.456881 12.5879 0.400201 12.6614 0.360186 12.7441C0.32017 12.8268 0.297683 12.9169 0.294137 13.0087C0.290591 13.1005 0.306061 13.1921 0.339577 13.2776C0.373094 13.3632 0.423932 13.4409 0.488902 13.5059C0.553872 13.5708 0.63157 13.6217 0.71712 13.6552C0.80267 13.6887 0.894225 13.7042 0.986038 13.7006C1.07785 13.6971 1.16794 13.6746 1.25065 13.6346C1.33336 13.5946 1.4069 13.5379 1.46667 13.4681L7 7.94143L12.5267 13.4681C12.6542 13.5773 12.8183 13.6344 12.986 13.6279C13.1538 13.6214 13.313 13.5519 13.4317 13.4331C13.5504 13.3144 13.62 13.1552 13.6265 12.9875C13.633 12.8197 13.5759 12.6556 13.4667 12.5281L7.94 7.00143Z" fill="#3A3E46"/></svg>

        .choos-magazine__map
            .address__map#map
            #result

        button.button.choos-magazine__button.choos-magazine__button--mode(type="submit") Сохранить