section.address.container.inner
    h2.title Контакты
    h3.subtitle Адреса магазинов
    ul.address__list 
        li.address__list-item
            a.goto(data-goto='адрес-1')
                p г. Курск, ТЦ Линия, ул Энгельса, д. 70 10:00–21:00
                p +7 (4712) 33-08-50
        li.address__list-item
            a.goto(data-goto='адрес-2')
                p г. Курск, ТЦ Олимпийский, ул. Дзержинского, д. 25 10:00–19:00
                p +7 (4712) 73-60-00
        li.address__list-item
            a.goto(data-goto='адрес-3')
                p ТЦ Европа-20	г. Курск, пр-т Дружбы, д. 9А 09:00–21:00
                p +7 (905) 042-44-14
        li.address__list-item
            a.goto(data-goto='адрес-4')
                p ТЦ Пушкинский	г. Курск, ул. Ленина, д. 30 10:00–22:00
                p +7 (951) 087-97-49
        li.address__list-item
            a.goto(data-goto='адрес-5')
                p ТЦ Рынок	Курская обл., г. Курчатов, ул. Энергетиков, д. 60 10:00–18:00
                p +7 (951) 319-89-94
        li.address__list-item
            a.goto(data-goto='адрес-6')
                p ТЦ Линия	Курская обл., г. Железногорск,  ул. Воинов Интернационалистов, д. 18 09:00–20:00
                p +7 (930) 853-99-68

        button.button.address__button Показать еще 
            <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.28571 1.14286L8.14286 8L15 1.14286" stroke="#3A3E46" stroke-linecap="round"/></svg>

    .address__map#map
    #result