.decore.inner
    ul.decore__list 
        li.decore__dote.decore__dote--small
        li.decore__dote.decore__dote--medium
        li.decore__dote.decore__dote--large
        li.decore__dote.decore__dote--medium
        li.decore__dote.decore__dote--small
