footer.footer
    .container
        img.footer__logo(src="img/svg/logo-footer.svg" alt="")
        .footer__wrapper 
            ul.footer__list
                li
                    a(href="about.html") О компании
                li
                    a(href="delivery.html") Доставка и оплата
                li
                    a(href="exchange.html") Скупка и обмен
                li
                    a(href="catalog.html") Каталог
                li
                    a(href="account.html") Личный кабинет
                li
                    a(href="support.html") Сервис и поддержка
                li
                    a(href="stocks.html") Акции
                li
                    a(href="stocks.html") Распродажа 
                li
                    a(href="new-products.html") Новинки
                li
                    a(href="news.html") Новости
                li
                    a(href="refund.html") Возврат и обмен
                li
                    a(href="rules.html") Правила продажи товаров
            ul.footer__list
                li.footer__contact
                    a(href="") 
                        <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.1777 20.7582L27.1777 20.7582C27.1289 20.6177 27.0444 20.491 26.9313 20.3903C26.8184 20.2899 26.6809 20.2188 26.5313 20.1844C26.531 20.1844 26.5308 20.1843 26.5305 20.1842L18.1328 18.2938L27.1777 20.7582ZM27.1777 20.7582L27.1797 20.7637M27.1777 20.7582L27.1797 20.7637M27.1797 20.7637C27.2876 21.063 27.369 21.371 27.4229 21.6841M27.1797 20.7637L16.9539 18.1647C16.7579 18.3441 16.7439 18.3579 15.8339 20.0695C12.8143 18.6977 10.3948 16.3025 9.01576 13.3198C9.11577 13.2702 9.21021 13.2233 9.2994 13.179C10.7959 12.4358 10.818 12.4248 10.9898 12.2294C11.1532 12.0645 11.2721 11.8619 11.3357 11.6401C11.3993 11.4183 11.4055 11.1843 11.3538 10.9595L9.43576 2.77434C9.38207 2.54617 9.27036 2.33523 9.11116 2.16137C8.95196 1.98751 8.7505 1.85645 8.52575 1.78053C8.1988 1.6654 7.86118 1.58218 7.51774 1.53207C7.16389 1.45118 6.80279 1.40495 6.43972 1.39404C4.7317 1.39404 3.09364 2.06299 1.88589 3.25373C0.678141 4.44448 -0.000366211 6.05947 -0.000366211 7.74343C0.00704258 13.3788 2.28095 18.7813 6.32268 22.7661C10.3644 26.7509 15.8441 28.9928 21.5599 29.0001C22.4057 29.0001 23.2431 28.8358 24.0244 28.5167C24.8058 28.1977 25.5157 27.73 26.1138 27.1404C26.7118 26.5508 27.1862 25.8508 27.5098 25.0805C27.8334 24.3101 28 23.4845 28 22.6507C28.0005 22.2994 27.9724 21.9486 27.916 21.6016L27.4232 21.6862C27.4231 21.6855 27.423 21.6848 27.4229 21.6841M27.4229 21.6841C27.4746 22.0036 27.5004 22.3266 27.5 22.6501V22.6507C27.5 23.4178 27.3468 24.1777 27.0488 24.8868C26.7509 25.596 26.314 26.2408 25.7627 26.7843C25.2115 27.3278 24.5566 27.7593 23.8354 28.0539C23.1144 28.3483 22.3414 28.5 21.5606 28.5001C15.9748 28.4929 10.6213 26.302 6.67372 22.41C2.72644 18.5183 0.506952 13.2437 0.499634 7.74309C0.499724 6.19417 1.12379 4.70724 2.23693 3.60979C3.34861 2.51376 4.85723 1.89601 6.43219 1.89405C6.7603 1.90438 7.08657 1.9464 7.40631 2.0195L7.42579 2.02395L7.44556 2.02684C7.75707 2.07228 8.06324 2.14775 8.35968 2.25214L8.35967 2.25218L8.36574 2.25423C8.51107 2.30332 8.64056 2.38782 8.7424 2.49903C8.84415 2.61015 8.915 2.74431 8.94901 2.88866C8.94902 2.88874 8.94904 2.88881 8.94906 2.88888L10.8665 11.0716C10.8666 11.0719 10.8667 11.0722 10.8667 11.0725C10.8992 11.2145 10.8952 11.3622 10.855 11.5024C10.8148 11.6429 10.7392 11.7719 10.6347 11.8774L10.6241 11.8881L10.6143 11.8993C10.5712 11.9483 10.5618 11.9571 10.5459 11.9696C10.5236 11.9871 10.4775 12.0186 10.3608 12.0826C10.1499 12.1983 9.78262 12.3807 9.07096 12.7341C8.9837 12.7775 8.89125 12.8234 8.79328 12.8721L8.35789 13.0884L8.56192 13.5297C9.99172 16.6222 12.4995 19.1039 15.627 20.5247L16.0548 20.7191L16.2753 20.3042C16.7334 19.4427 16.9576 19.0245 17.092 18.797C17.1582 18.6851 17.1924 18.6372 17.2129 18.6118C17.2299 18.5907 17.2423 18.5785 17.2915 18.5335L17.2916 18.5336L17.3008 18.5248C17.4079 18.4216 17.5402 18.3459 17.6858 18.3053C17.8311 18.2648 17.9846 18.2608 18.1321 18.2936L27.4229 21.6841Z" stroke="#EFE3C7"/><path d="M27.2002 12.8307C27.2002 9.69285 25.9359 6.68355 23.6854 4.46478C21.4349 2.246 18.3827 0.999512 15.2 0.999512" stroke="#EFE3C7" stroke-linecap="round"/><path d="M21.1995 14.0137C21.1995 12.131 20.441 10.3255 19.0907 8.9942C17.7404 7.66293 15.909 6.91504 13.9995 6.91504" stroke="#EFE3C7" stroke-linecap="round"/></svg>
                        span +7 (999) 999-99-99
                li.footer__contact
                    a(href="") 
                        <svg width="30" height="21" viewBox="0 0 30 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29 1V20H1V1M29 1H1M29 1L15 10.5L1 1" stroke="#EFE3C7" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        span example@zhemchuzhina.ru
                ul.footer__social.social__list.social__list--footer
                    li
                        a.footer__link.footer__link--inst.social__link.social__link--inst(href="") 
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="27" height="27" rx="7.5" stroke="#EFE3C7"/><circle cx="14" cy="14" r="8" stroke="#EFE3C7"/><circle cx="14" cy="14" r="4" stroke="#EFE3C7"/><circle cx="22.4429" cy="5.58203" r="1.5" stroke="#EFE3C7"/></svg>
                    li
                        a.footer__link.footer__link--vk.social__link.social__link--vk(href="") 
                            <svg width="39" height="23" viewBox="0 0 39 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M37.6273 1.41246L37.6216 1.43135L37.6174 1.45063C37.4992 1.99044 37.1066 2.85137 36.5421 3.8822C35.9867 4.89669 35.2931 6.02604 34.6124 7.08443C33.9323 8.14177 33.2686 9.12296 32.7745 9.83996C32.5886 10.1096 32.4269 10.3417 32.2976 10.5262L32.2724 10.5012L31.9404 11.032L31.9353 11.0401C31.7272 11.3729 31.4945 11.7449 31.4602 12.1654C31.4224 12.6289 31.6224 13.044 31.9647 13.4838C32.2163 13.829 32.712 14.3112 33.2224 14.8076L33.2815 14.865C33.8383 15.4068 34.4424 15.9963 34.9229 16.5591L34.9228 16.5592L34.9308 16.5681C35.8442 17.5877 36.6361 18.5184 37.2451 19.3369C37.8583 20.1612 38.2573 20.8343 38.4239 21.3461C38.5707 21.8512 38.4792 22.0972 38.3739 22.2186C38.2515 22.3596 37.9719 22.4981 37.4246 22.4981H33.1584C32.8258 22.4981 32.5713 22.4339 32.3296 22.3082C32.0772 22.177 31.8168 21.9673 31.4882 21.6403C31.2213 21.3745 30.9294 21.0523 30.5718 20.6574C30.4866 20.5634 30.3977 20.4652 30.3045 20.3627C29.8249 19.8352 29.2463 19.2092 28.5147 18.4827L28.5147 18.4826L28.5079 18.4761C25.9669 16.0462 24.7551 15.5992 23.9137 15.5992C23.4756 15.5992 22.9748 15.6504 22.6449 16.0572C22.4893 16.2491 22.4064 16.4797 22.3597 16.7192C22.313 16.958 22.2965 17.2368 22.2965 17.5524V21.3516C22.2965 21.829 22.2184 22.0141 22.013 22.1511C21.7277 22.3412 21.1063 22.5 19.7506 22.5C15.4249 22.5 10.6 19.8856 7.1453 14.9618L7.14533 14.9618L7.14202 14.9572C4.51916 11.3076 2.85379 8.10932 1.84574 5.69255C1.3416 4.48388 1.00277 3.47285 0.790765 2.70058C0.574802 1.91388 0.5 1.40893 0.5 1.19812C0.5 0.937232 0.552822 0.796409 0.633726 0.712691C0.713705 0.629928 0.919788 0.501933 1.46359 0.501933H5.72978C6.19921 0.501933 6.43551 0.601809 6.60219 0.75425C6.79377 0.929459 6.96535 1.23727 7.16472 1.8122C8.22123 4.86628 9.63979 7.72929 10.983 9.83632C11.6537 10.8884 12.3144 11.766 12.9114 12.3871C13.2094 12.6972 13.5029 12.9553 13.7842 13.1391C14.0565 13.3171 14.3679 13.459 14.6904 13.459C14.8582 13.459 15.0564 13.441 15.2485 13.355C15.4546 13.2626 15.6145 13.1098 15.7275 12.907C15.9276 12.548 15.9825 12.0219 15.9825 11.3435V5.10553V5.09183L15.9817 5.07816C15.8971 3.53356 15.4342 2.6633 14.9777 2.04658C14.8749 1.90772 14.7736 1.78328 14.6859 1.67544L14.67 1.65593C14.5754 1.53967 14.5013 1.4474 14.4403 1.35986C14.3238 1.19262 14.2873 1.0866 14.2873 0.973954C14.2873 0.781742 14.4651 0.5 14.8733 0.5H21.5801C21.9462 0.5 22.0677 0.593329 22.1291 0.674927C22.2182 0.793454 22.2985 1.04199 22.2985 1.55755V9.95018C22.2985 10.9417 22.7625 11.6618 23.4622 11.6618C24.2417 11.6618 24.837 11.1756 25.8026 10.2112L25.8118 10.202L25.8204 10.1924C27.398 8.44463 28.7318 6.23805 29.6663 4.48435C30.1351 3.60452 30.5067 2.83241 30.7614 2.27964C30.8888 2.00316 30.9871 1.78129 31.0537 1.62794C31.0871 1.55125 31.1125 1.49168 31.1298 1.45096L31.1494 1.40422L31.1546 1.39195C31.2694 1.12923 31.4159 0.914226 31.6171 0.76306C31.813 0.615893 32.0994 0.5 32.5492 0.5H36.8174C37.3995 0.5 37.5825 0.650771 37.6381 0.729692C37.6996 0.816979 37.7479 1.01467 37.6273 1.41246ZM31.964 10.9976C31.963 10.9989 31.9633 10.9986 31.9642 10.9974L31.964 10.9976ZM32.3643 11.2971L32.012 11.6519C32.052 11.6682 32.0921 11.6807 32.1319 11.6899C31.8742 12.1762 31.8577 12.5346 32.3643 13.1832V11.2971Z" stroke="#EFE3C7"/></svg>

            ul.footer__list.footer__list--last
                li
                    p Наши адреса
                li
                    p ​Суперцентр Европа 20 ​проспект Дружбы, 9а
                li
                    p ​Пушкинский​ Ленина, 30
                li
                    p Менделеева, 47а
                li
                    p ​Гипермаркет Линия 1, ​Энгельса, 70
            .footer__list.footer__list--mode
                .footer__down.toggle
                    p Наши адреса
                    <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.28571 0.642857L8.14286 7.5L15 0.642857" stroke="#EFE3C7" stroke-linecap="round"/></svg>
                .footer__down-content
                    .footer__item
                        p ​Суперцентр Европа 20 ​проспект Дружбы, 9а
                    .footer__item
                        p ​Пушкинский​ Ленина, 30
                    .footer__item
                        p Менделеева, 47а
                    .footer__item 
                        p ​Гипермаркет Линия 1, ​Энгельса, 70
        .footer__bottom 
            a(href="").footer__politic Политика конфиденциальности
            p.footer__develop Разработано в &nbsp;
                a(href="https://kvokka.com") kvokka
