header.header
    .header__top.container
        form(action="get").header__search
            input(type="search" placeholder="Поиск")
            button
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="11.5" cy="11.5" r="8" stroke="#CECBCB"/><line x1="17.3536" y1="17.6464" x2="21.3536" y2="21.6464" stroke="#CECBCB"/></svg>
        .header__burger#burger 
            img(src="img/svg/burger.svg", alt="")
        a.header__logo(href="index.html") 
            img(src="img/svg/logo.svg" alt="логотип")
        .header__groups
            a(href="#").header__groups-button.header__user#lk
                <svg width="26" height="29" viewBox="0 0 26 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 13C11.4087 13 9.88258 12.3679 8.75736 11.2426C7.63214 10.1174 7 8.5913 7 7C7 5.4087 7.63214 3.88258 8.75736 2.75736C9.88258 1.63214 11.4087 1 13 1C14.5913 1 16.1174 1.63214 17.2426 2.75736C18.3679 3.88258 19 5.4087 19 7C19 8.5913 18.3679 10.1174 17.2426 11.2426C16.1174 12.3679 14.5913 13 13 13Z" stroke="#3A3E46" stroke-linecap="round"/><path d="M1 28V26.5C1 24.1131 1.94821 21.8239 3.63604 20.136C5.32387 18.4482 7.61305 17.5 10 17.5H16C18.3869 17.5 20.6761 18.4482 22.364 20.136C24.0518 21.8239 25 24.1131 25 26.5V28" stroke="#3A3E46" stroke-linecap="round"/></svg>
            a(href="#").header__groups-button.header__basket#basket
                <svg width="27" height="29" viewBox="0 0 27 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.5266 7.75V6.90625C19.5266 5.33982 18.8917 3.83754 17.7614 2.7299C16.6312 1.62226 15.0983 1 13.4999 1C11.9015 1 10.3685 1.62226 9.23828 2.7299C8.10804 3.83754 7.47308 5.33982 7.47308 6.90625V7.75M19.5266 7.75H25.5534V24.625C25.5534 25.5201 25.1906 26.3785 24.5447 27.0115C23.8989 27.6444 23.0229 28 22.1096 28H4.89017C3.97679 28 3.10083 27.6444 2.45497 27.0115C1.80912 26.3785 1.44629 25.5201 1.44629 24.625V7.75H7.47308M19.5266 7.75H7.47308" stroke="#3A3E46"/></svg>
                span.header__basket-count 99

    nav.header__nav
        .header__nav-wrapper.container
            .header__list 
                a.header__link.header__list-link(href="about.html") О компании 
                a.header__link.header__list-link(href="catalog.html") Каталог 
                a.header__link.header__list-link(href="stocks.html") Акции 
                a.header__link.header__list-link(href="delivery.html") Доставка и оплата
                a.header__link.header__list-link(href="exchange.html") Скупка и обмен
                a.header__link.header__list-link(href="contacts.html") Контакты
            .header__phone 
                a.header__link.header__phone-link(href="tel:89999999999")
                    span +7 (999) 999-99-99
            ul.header__social.social__list.social__list--header
                li
                    a.header__link.header__social-link.social__link.social__link--inst(href="")
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="27" height="27" rx="7.5" stroke="#3A3E46"/><circle cx="14" cy="14" r="8" stroke="#3A3E46"/><circle cx="14" cy="14" r="4" stroke="#3A3E46"/><circle cx="22.4429" cy="5.58203" r="1.5" stroke="#3A3E46"/></svg>
                li
                    a.header__link.header__social-link.social__link.social__link--vk(href="")
                        <svg width="39" height="23" viewBox="0 0 39 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M37.6273 1.41246L37.6216 1.43135L37.6174 1.45063C37.4992 1.99044 37.1066 2.85137 36.5421 3.8822C35.9867 4.89669 35.2931 6.02604 34.6124 7.08443C33.9323 8.14177 33.2686 9.12296 32.7745 9.83996C32.5886 10.1096 32.4269 10.3417 32.2976 10.5262L32.2724 10.5012L31.9404 11.032L31.9353 11.0401C31.7272 11.3729 31.4945 11.7449 31.4602 12.1654C31.4224 12.6289 31.6224 13.044 31.9647 13.4838C32.2163 13.829 32.712 14.3112 33.2224 14.8076L33.2815 14.865C33.8383 15.4068 34.4424 15.9963 34.9229 16.5591L34.9228 16.5592L34.9308 16.5681C35.8442 17.5877 36.6361 18.5184 37.2451 19.3369C37.8583 20.1612 38.2573 20.8343 38.4239 21.3461C38.5707 21.8512 38.4792 22.0972 38.3739 22.2186C38.2515 22.3596 37.9719 22.4981 37.4246 22.4981H33.1584C32.8258 22.4981 32.5713 22.4339 32.3296 22.3082C32.0772 22.177 31.8168 21.9673 31.4882 21.6403C31.2213 21.3745 30.9294 21.0523 30.5718 20.6574C30.4866 20.5634 30.3977 20.4652 30.3045 20.3627C29.8249 19.8352 29.2463 19.2092 28.5147 18.4827L28.5147 18.4826L28.5079 18.4761C25.9669 16.0462 24.7551 15.5992 23.9137 15.5992C23.4756 15.5992 22.9748 15.6504 22.6449 16.0572C22.4893 16.2491 22.4064 16.4797 22.3597 16.7192C22.313 16.958 22.2965 17.2368 22.2965 17.5524V21.3516C22.2965 21.829 22.2184 22.0141 22.013 22.1511C21.7277 22.3412 21.1063 22.5 19.7506 22.5C15.4249 22.5 10.6 19.8856 7.1453 14.9618L7.14533 14.9618L7.14202 14.9572C4.51916 11.3076 2.85379 8.10932 1.84574 5.69255C1.3416 4.48388 1.00277 3.47285 0.790765 2.70058C0.574802 1.91388 0.5 1.40893 0.5 1.19812C0.5 0.937232 0.552822 0.796409 0.633726 0.712691C0.713705 0.629928 0.919788 0.501933 1.46359 0.501933H5.72978C6.19921 0.501933 6.43551 0.601809 6.60219 0.75425C6.79377 0.929459 6.96535 1.23727 7.16472 1.8122C8.22123 4.86628 9.63979 7.72929 10.983 9.83632C11.6537 10.8884 12.3144 11.766 12.9114 12.3871C13.2094 12.6972 13.5029 12.9553 13.7842 13.1391C14.0565 13.3171 14.3679 13.459 14.6904 13.459C14.8582 13.459 15.0564 13.441 15.2485 13.355C15.4546 13.2626 15.6145 13.1098 15.7275 12.907C15.9276 12.548 15.9825 12.0219 15.9825 11.3435V5.10553V5.09183L15.9817 5.07816C15.8971 3.53356 15.4342 2.6633 14.9777 2.04658C14.8749 1.90772 14.7736 1.78328 14.6859 1.67544L14.67 1.65593C14.5754 1.53967 14.5013 1.4474 14.4403 1.35986C14.3238 1.19262 14.2873 1.0866 14.2873 0.973954C14.2873 0.781742 14.4651 0.5 14.8733 0.5H21.5801C21.9462 0.5 22.0677 0.593329 22.1291 0.674927C22.2182 0.793454 22.2985 1.04199 22.2985 1.55755V9.95018C22.2985 10.9417 22.7625 11.6618 23.4622 11.6618C24.2417 11.6618 24.837 11.1756 25.8026 10.2112L25.8118 10.202L25.8204 10.1924C27.398 8.44463 28.7318 6.23805 29.6663 4.48435C30.1351 3.60452 30.5067 2.83241 30.7614 2.27964C30.8888 2.00316 30.9871 1.78129 31.0537 1.62794C31.0871 1.55125 31.1125 1.49168 31.1298 1.45096L31.1494 1.40422L31.1546 1.39195C31.2694 1.12923 31.4159 0.914226 31.6171 0.76306C31.813 0.615893 32.0994 0.5 32.5492 0.5H36.8174C37.3995 0.5 37.5825 0.650771 37.6381 0.729692C37.6996 0.816979 37.7479 1.01467 37.6273 1.41246ZM31.964 10.9976C31.963 10.9989 31.9633 10.9986 31.9642 10.9974L31.964 10.9976ZM32.3643 11.2971L32.012 11.6519C32.052 11.6682 32.0921 11.6807 32.1319 11.6899C31.8742 12.1762 31.8577 12.5346 32.3643 13.1832V11.2971Z" stroke="#3A3E46"/></svg>

    //- .cabinet 
    //-     .cabinet__wrapper 
    //-         <svg class="close-modal" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.94031 7.00143L13.467 1.47476C13.5762 1.34722 13.6333 1.18317 13.6268 1.01539C13.6203 0.847606 13.5507 0.688447 13.432 0.569717C13.3133 0.450987 13.1541 0.381432 12.9863 0.374951C12.8186 0.368471 12.6545 0.425542 12.527 0.534759L7.00031 6.06143L1.47364 0.528092C1.34811 0.402557 1.17784 0.332031 1.00031 0.332031C0.822773 0.332031 0.65251 0.402557 0.526974 0.528092C0.401438 0.653628 0.330913 0.823891 0.330913 1.00143C0.330913 1.17896 0.401438 1.34922 0.526974 1.47476L6.06031 7.00143L0.526974 12.5281C0.457186 12.5879 0.400506 12.6614 0.360491 12.7441C0.320475 12.8268 0.297988 12.9169 0.294442 13.0087C0.290896 13.1005 0.306366 13.1921 0.339882 13.2776C0.373399 13.3632 0.424238 13.4409 0.489208 13.5059C0.554177 13.5708 0.631876 13.6217 0.717426 13.6552C0.802976 13.6887 0.894531 13.7042 0.986343 13.7006C1.07816 13.6971 1.16824 13.6746 1.25095 13.6346C1.33366 13.5946 1.40721 13.5379 1.46697 13.4681L7.00031 7.94143L12.527 13.4681C12.6545 13.5773 12.8186 13.6344 12.9863 13.6279C13.1541 13.6214 13.3133 13.5519 13.432 13.4331C13.5507 13.3144 13.6203 13.1552 13.6268 12.9875C13.6333 12.8197 13.5762 12.6556 13.467 12.5281L7.94031 7.00143Z" fill="#3A3E46"/></svg>
    //-         .cabinet__user 
    //-             p.cabinet__title Иванов иван
    //-             p.cabinet__phone +7 999 999 99 99
    //-             p.cabinet__bonus Номер бонусной карты
    //-             p.cabinet__number 0000 0000 0000 0001
    //-         .cabinet__order 
    //-             .cabinet__caption 
    //-                 p.cabinet__title Ваш заказ
    //-                 p.cabinet__price 6 380 ₽
    //-             p.cabinet__address Заберу из магазина: г. Курск, <i class="br"></i> ТЦ Олимпийский, ул. Дзержинского, д. 25 <i class="br"></i>  10:00–19:00
    //-             .cabinet__order-inner 
    //-                 p Ваш заказ:
    //-                 .cabinet__list 
    //-                     a(href="catalog.html").cabinet__picture
    //-                         img(src="img/order/image27.png" alt="")
    //-                     a(href="catalog.html").cabinet__picture
    //-                         img(src="img/order/image27.png" alt="")
    //-                     a(href="catalog.html").cabinet__picture
    //-                         img(src="img/order/image27.png" alt="")
    //-             .cabinet__pay 
    //-                 p Способ оплаты
    //-                 p Онлайн оплата
    //-             p.cabinet__title ожидает в магазине
    h1.visually-hidden Ювелирный салон Жемчужина
    //- .cabinet.cabinet--mode
        .cabinet__wrapper 
            <svg class="close-modal" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.94031 7.00143L13.467 1.47476C13.5762 1.34722 13.6333 1.18317 13.6268 1.01539C13.6203 0.847606 13.5507 0.688447 13.432 0.569717C13.3133 0.450987 13.1541 0.381432 12.9863 0.374951C12.8186 0.368471 12.6545 0.425542 12.527 0.534759L7.00031 6.06143L1.47364 0.528092C1.34811 0.402557 1.17784 0.332031 1.00031 0.332031C0.822773 0.332031 0.65251 0.402557 0.526974 0.528092C0.401438 0.653628 0.330913 0.823891 0.330913 1.00143C0.330913 1.17896 0.401438 1.34922 0.526974 1.47476L6.06031 7.00143L0.526974 12.5281C0.457186 12.5879 0.400506 12.6614 0.360491 12.7441C0.320475 12.8268 0.297988 12.9169 0.294442 13.0087C0.290896 13.1005 0.306366 13.1921 0.339882 13.2776C0.373399 13.3632 0.424238 13.4409 0.489208 13.5059C0.554177 13.5708 0.631876 13.6217 0.717426 13.6552C0.802976 13.6887 0.894531 13.7042 0.986343 13.7006C1.07816 13.6971 1.16824 13.6746 1.25095 13.6346C1.33366 13.5946 1.40721 13.5379 1.46697 13.4681L7.00031 7.94143L12.527 13.4681C12.6545 13.5773 12.8186 13.6344 12.9863 13.6279C13.1541 13.6214 13.3133 13.5519 13.432 13.4331C13.5507 13.3144 13.6203 13.1552 13.6268 12.9875C13.6333 12.8197 13.5762 12.6556 13.467 12.5281L7.94031 7.00143Z" fill="#3A3E46"/></svg>
            .cabinet__user 
                p.cabinet__title Иванов иван
                p.cabinet__phone +7 999 999 99 99
                p.cabinet__bonus Номер бонусной карты
                p.cabinet__number 0000 0000 0000 0001
            .cabinet__order 
                .cabinet__caption 
                    p.cabinet__title у вас нет заказов
                p.cabinet__address Если возникла ошибка обратитесь к нашим специалистам по номеру +7 (999) 999-99-99 или напишите нам.
                .cabinet__order-inner 
                    button.button Написать