.slide-up.slide-up--mode.container
    .slide-up__inner
        <svg class="slide-up__arrow" width="39" height="19" viewBox="0 0 39 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M38 18L19.293 1.29297L0.999997 18" stroke="#3a3e46" stroke-opacity="0.7" stroke-linecap="round"/></svg>
        <svg class="slide-up__arrow slide-up__arrow--mobile" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.9997 6.66667L6.764 1.09766L0.66634 6.66667" stroke="#3a3e46" stroke-linecap="round"/></svg>