@font-face {
    font-family: 'AGAvalancheC';
    src: url('AGAvalancheC.woff2') format('woff2'),
        url('AGAvalancheC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AGAvalancheC';
    src: url('AGAvalancheC-Bold.woff2') format('woff2'),
        url('AGAvalancheC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

