doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header
        main.bg-jemchug
            section.notfound.container
                .notfound__wrapper
                    h2.notfound__title 404
                    p Страница не найдена
                    a(href="index.html").button.notfound__button На главную





        include modules/footer.pug
        include modules/menu.pug
        include modules/script.pug