doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header
        main

            section.breadcrumbs.container
                h2.visually-hidden Хлебные крошки
                ul.breadcrumbs__list
                    li.breadcrumbs__item 
                        a(href="index.html") Главная
                    li.breadcrumbs__item 
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 0.5L5 5L1 9.5" stroke="#CECBCB" stroke-linecap="round"/></svg>
                    li.breadcrumbs__item.active
                        a Дисконтные Карты

            section.cards
                h2.title Дисконтные Карты
                .cards__wrapper.container.inner 
                    .cards__aside 
                        .cards__content
                            p В ювелирной сети «Фамильная Жемчужина» действует система скидок по именным Дисконтным картам. Способы получения дисконтной карты: 1) В подарок покупателю в День рождения при покупке на любую сумму. 2) При покупке на сумму от 1000 рублей. Возраст владельца ДК — от 18 лет.
                            p Дисконтную карту можно передавать другим покупателям для получения дополнительной скидки при осуществлении покупки в сети «Фамильная Жемчужина». После того, как накопления на карте достигнут 100 тысяч, карта автоматически получает VIP статус. Дополнительная скидка в День рождения по Дисконтной карте действует 1 неделю до и 1 неделю после дня рождения.
                    .cards__picture
                        img(src="img/cards/img1.png" alt="")

                ul.cards-list.container.inner.cards-slick
                    li.cards-list__item 
                        p Стандартные скидки по Дисконтной карте: 6% на золотые изделия, 8% на серебряные изделия, 5% в День рождения.
                    li.cards-list__item 
                        p Стандартные скидки по VIP карте: 10% на золотые изделия, 15% на серебряные изделия, 5% в День рождения.
                    li.cards-list__item 
                        p Скидки по Дисконтным картам могут меняться согласно условиям действующей акции.
                    li.cards-list__item 
                        p Скидки по Дисконтным картам распространяются на все виды изделий, кроме сертификатов (сумма покупки сертификатов идёт в накопление на карту).
                .cards__slogan.container.inner 
                    p Все наши постоянные покупатели — владельцы Дисконтных карт. Это наши любимые клиенты, которые могут всегда рассчитывать на максимальное внимание и лояльность со стороны продавцов и руководства ювелирной сети «Фамильная Жемчужина».







            include modules/decore-slide.pug
            //- include modules/slideup.pug

    include modules/footer.pug
    include modules/menu.pug
    include modules/script.pug
