// @import "utils/stylesheet";
@import "./node_modules/normalize.css/normalize";
@import "utils/slick";
@import "utils/variables";
@import "mixins/media";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: $fontBase;
}

body {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  position: relative;
}

.container {
  max-width: 1920px;
  padding: 0 100px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  @media (max-width: 1279px) {
    padding: 0 50px;
  }
  @media (max-width: 767px) {
    padding: 0 10px;
  }
  &--mode {
    padding: 0 245px;
    @media (max-width: 1919px) {
      padding: 0 200px;
    }
    @media (max-width: 1365px) {
      padding: 0 100px;
    }
    @media (max-width: 1279px) {
      padding: 0 50px;
    }
    @media (max-width: 767px) {
      padding: 0;
    }
  }
}

.inner {
  margin-bottom: 140px;
  @media (max-width: 1919px) {
    margin-bottom: 100px;
  }
  @media (max-width: 1365px) {
    margin-bottom: 90px;
  }
  @media (max-width: 1279px) {
    margin-bottom: 70px;
  }
  @media (max-width: 1023px) {
    margin-bottom: 50px;
  }
  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  color: $color-base;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  color: $color-base;
  color: $color-base;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: $color-base;
}

.title {
  font-size: 52px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
  line-height: 140%;

  @media (max-width: 1919px) {
    font-size: 52px;
  }
  @media (max-width: 1279px) {
    margin-bottom: 30px;
    font-size: 36px;
  }
  @media (max-width: 1023px) {
    font-size: 27px;
  }
  @media (max-width: 767px) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.title-modal {
  font-size: 22px;
  margin-bottom: 30px;
  font-weight: 400;
  @media (max-width: 1023px) {
    font-size: 14px;
    margin-bottom: 20px;
  }
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.subtitle {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 140%;
  @media (max-width: 1919px) {
    font-size: 22px;
  }
  @media (max-width: 1279px) {
    font-size: 18px;
    margin-bottom: 20px;
  }
  @media (max-width: 1023px) {
    font-size: 14px;
  }
  @media (max-width: 767px) {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }
}

input {
  &:focus {
    outline: #fff;
  }
}

button {
  padding: 0;
}

.toggleHide.hide {
  display: none;
}

#result {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
